*~
doc/
\#*
.\#*
.DS_Store
*.swp
*.pdf
*.typ
old/
compiled/
publish/
mysite/
*.md
!README.md
*.html
*.js
*.css
!camp-demo/static/*.css
!camp-lib/private/template/static/*.css
!camp/scribblings/scrbl-aux.css